services:
  db:
    image: postgres:15
    container_name: retail_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: retail_db
    ports:
      - "5432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
  app:
    build: .
    container_name: retail_app
    depends_on:
      - db
    networks:
      - retail_net
    ports:
      - '8000:8000'

networks:
  retail_net:

version: '3.8'