services:
  db:
    image: postgres:15
    container_name: retail_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password  # Let's stick to 'password' for simplicity
      POSTGRES_DB: retail_pulse
    ports:
      - "5433:5432"
  app:
    build: .
    container_name: retail_app
    depends_on:
      - db
    networks:
      - retail_net
    ports:
      - '8000:8000'

networks:
  retail_net:

version: '3.8'