services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
  app:
    build: .
    container_name: retail_app
    depends_on:
      - db
    networks:
      - retail_net
    ports:
      - '8000:8000'

networks:
  retail_net:

version: '3.8'